<%= form_with model: @item, local: true do |f| %>
<div>
    <%= f.label :item %>
    <%= f.text_field :tiem %>
</div>
<br>
<div>
    <%= f.label :price %>
    <%= f.number_field :price, step: 0.10, min: 1 %>
</div>
<br>
<div>
    <%= f.label :qty %>
    <%= f.number_field :quality, min: 1%>
</div>
<br>
<div>
    <%= f.label :menus %>
    <%= f.collection_check_boxes :menu_ids, @menus, :id, :title  %>
    </div>
<div>
<%= f.submit %>
</div>
<% end %>