<h1>Edit <%= @item.tiem%></h1>

<%= render 'form' %>

<!-- old form build from scratch -->
<!-- <form action='<%= menu_item_path(@item) %>' method ='POST'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='_method' value='patch'>
<div>
    <label for='item'>Item</label>
    <input type='text' id='item' name='tiem' value='<%=@item.tiem%>'>
</div>
<div>
    <label for='price'>Price</label>
    <input type='number' step='0.01' id='price' name="price" value='<%=@item.price%>'>
</div>
<div>
    <label for='qty'>Qty</label>
    <input type='number' id='qty' name="quality" value='<%=@item.quality%>'>
</div>

<div>
    <button>Update <%= @item.tiem%></button>
</div>
</form> -->
